

<div  class="mat-typography div div__textEditorWrapper" fxFlexAlign="center" fxLayoutGap="10px" fxLayout="row">

  <div class="div div__dashBoard" fxFlex="15" >
     <h1>Dash Board</h1>
  </div>
  
  <div fxLayoutGap="10px"  fxLayout="column" fxLayoutGap="10px" fxFlex ="85">
    <div fxFlex='0 0 auto' class="div div__cardWrapper"
    fxLayoutGap="10px" fxLayout="row wrap">
      <mat-card fxFlex='1 1 auto' class="mat mat__card mat-h4" >Making The World A Better Place</mat-card>
      <mat-form-field  appearance="fill">
        <mat-label>Languages</mat-label>
        <mat-select>
          <mat-option *ngFor="let language of languages" [value]="language.value">
            {{language.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="button button__save" mat-button>Save</button>
    </div>
    <div fxLayoutGap="10px" fxFlex='1 1 auto' fxLayout="row wrap"
    class="div div__mainCkWrapper">

    
    <div   fxFlex='1 1 auto' class="div div__ckEditor"  >
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <!-- #007bff; -->
            <mat-panel-title [ngStyle]="{'color': panelOpenState? '#007bff' :'black' }">
              Edit
            </mat-panel-title>
            <mat-panel-description >
              Edit In text editor
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
        </mat-expansion-panel>
      </mat-accordion>
     
    </div>

    <div  fxLayoutGap="10px" class="div div__matDatePicker"  fxLayout="column"   >


      <p>Author Name</p>
      <mat-form-field  appearance="fill">
        <mat-label>Author</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Date of post</p>
      <mat-form-field   appearance="fill">
        <mat-label>Post Date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
       <p>Category</p>
      <tag-input class="input__tag" [(ngModel)]='category' [displayBy]="'+'" [identifyBy]="'This is'"></tag-input>
      <p>Tag</p>
      <tag-input class="input__tag" [(ngModel)]='category2' [displayBy]="'+'" [identifyBy]="'This is'"></tag-input>

      <p>Published Globally</p>
      <label class="switch">
        <input [(ngModel)]="check1"  type="checkbox">
        <span class="slider"></span>
      </label>
      <p>Published in English</p>
      <label class="switch">
        <input [(ngModel)]="check2" type="checkbox">
        <span class="slider"></span>
      </label>
      <!-- <button mat-button color="primary">Primary</button>   -->
    
  </div>
</div>
</div>
</div>
    <!-- <h4>Basic mat-select</h4> -->
<!-- <mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field> -->


<!-- <form>
  <h4>mat-select</h4>
  <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p> Selected food: {{selectedValue}} </p>
  <h4>native html select</h4>
  <mat-form-field appearance="fill">
    <mat-label>Favorite car</mat-label>
    <select matNativeControl [(ngModel)]="selectedCar" name="car">
      <option value="" selected></option>
      <option *ngFor="let car of cars" [value]="car.value">
        {{car.viewValue}}
      </option>
    </select>
  </mat-form-field>
  <p> Selected car: {{selectedCar}} </p>
</form>
    <h1>Tree 2</h1>
  </div>
</div> -->



<!-- <select  style="background-image:url('assets/images/guy3.jpg');" class="select select__withImage" name="demo" id="#">
      <option style="background-image:url('assets/images/guy3.jpg');" selected="selected" value="one"> <img class="image" src="assets/images/guy1.jpg" alt="">
        David Guetta</option>
      <option value="two">
        <div class="div div__image">a</div>
        Rohder <img class="image" src="assets/images/guy2.jpg" alt=""></option>
      <option  value="three">Folker Alam Smith Adler <img class="image" src="assets/images/guy3.jpg" alt=""></option>
</select> -->